Linkwarden/Post_new_article_to_Linkwarden.json
{
  "name": "Linkwarden",
  "nodes": [
    {
      "parameters": {
        "url": "http://192.168.x.x:3000/api/v1/collections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        -176
      ],
      "id": "b59ca709-2f10-4a8a-801f-498c3a8a6518",
      "name": "get collections"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.x.x:3000/api/v1/links",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        128
      ],
      "id": "cedaa789-4889-4e83-a5c4-7c2d307af45a",
      "name": "New URL POST"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput",
              "type": "object"
            },
            {
              "name": "sessionId",
              "type": "object"
            },
            {
              "name": "senderName",
              "type": "object"
            },
            {
              "name": "chatId",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -80
      ],
      "id": "eb929884-c022-4e83-9092-6c80683e74a0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict categorization bot. Your ONLY job is to match content to existing categories.\n\nURL: {{ $json.chatInput }}\nPage Title: {{ $json.pageTitle }}\nPage Content Preview: {{ $json.pageContent }}\n\nAVAILABLE CATEGORIES (Real IDs only - these are the ONLY options):\n{{ $json.categoriesContext }}\n\nALGORITHM:\n1. Extract the main topic from the page (what is it about?)\n2. For each existing category in the list, check: \"Does this category match the page topic?\"\n3. If YES → return use_existing with that ID\n4. If NO matches found → return create_new\n\nMATCHING RULES:\n- \"Cooking\" category matches: recipes, food preparation, culinary content, סלט, קינואה, בישול\n- \"Garden\" category matches: plants, gardening, flowers, גינון\n- \"Weather\" category matches: forecasts, climate, מזג אויר\n- \"Home Assistant\" category matches: automation, smart home, IoT\n- etc.\n\nOutput JSON ONLY. No explanations.\n\n{\"action\":\"use_existing\",\"collectionId\":16,\"description\":\"Brief description\"}\nor\n{\"action\":\"create_new\",\"newCollectionName\":\"Name\",\"categoryDescription\":\"Description\",\"linkDescription\":\"Link description\"}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a background JSON processing bot. NO personality. NO chatting.\n\nCRITICAL RULES:\n- NEVER INVENT AN ID. Use ONLY IDs that appear in the list.\n- If unsure, use ID 4 (Personal).\n- Output JSON ONLY. No markdown, no text outside JSON.\n\nOUTPUT FORMAT:\nOption 1: {\"action\": \"use_existing\", \"collectionId\": <number>, \"description\": \"<string>\"}\nOption 2: {\"action\": \"create_new\", \"newCollectionName\": \"<string>\", \"categoryDescription\": \"<string>\", \"linkDescription\": \"<string>\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -112
      ],
      "id": "dc9b71aa-4a58-426e-92e9-eac818277985",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-1.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        128
      ],
      "id": "5c32de1f-e97b-49c1-a61b-26f3bddea659",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "google_gemini_credential",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        144
      ],
      "id": "8486bf0c-5707-47b5-a498-627c47945363",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_existing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81cd9eae-6281-41c7-b36a-09140e199636"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "השתמש בקיים"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40af0b82-a37c-4309-be54-0ad4eafb6434",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "צור חדש"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1104,
        -112
      ],
      "id": "968ccad0-7c1a-4e9d-a828-f95e3363ac3c",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"use_existing\", \"create_new\"],\n      \"description\": \"Decision: 'use_existing' or 'create_new'.\"\n    },\n    \"collectionId\": {\n      \"type\": \"number\",\n      \"description\": \"The ID of the existing collection. Omit or set to null if creating new.\"\n    },\n    \"newCollectionName\": {\n      \"type\": \"string\",\n      \"description\": \"Name for the new collection. Omit or set to null if using existing.\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"A short description of the content.\"\n    }\n  },\n  \"required\": [\"action\", \"description\"]\n}",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "The previous output was not valid JSON.\nSpecific error: {error}\n\nLikely fixes required:\n1. Remove all markdown formatting (do NOT start with ```json).\n2. Ensure the output is PURE JSON text only.\n3. Check that 'collectionId' is a number (not a string).\n4. Do not include any conversational text outside the JSON object.\n\nReturn ONLY the corrected JSON object."
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        80
      ],
      "id": "a668a7a7-f4ca-43dd-8e9c-a3ee9fc225ab",
      "name": "Structured Output Parser",
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        192
      ],
      "id": "e7b1b5f2-4702-45c3-9711-f57e742c300e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "google_gemini_credential",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "number@g.us",
        "message": "=*⚡ שמרתי את הקישור ⚡*\n\n*שם:*\n{{ $json.response.name.replace(/&#8230;/g, '...').replace(/&#8211;/g, '-').replace(/&quot;/g, '\"').replace(/&#039;/g, \"'\").replace(/&amp;/g, '&') }}\n\n*תיאור:*\n{{ $json.response.description }}\n\n*קטגוריה:*\n{{ $json.response.collection.name }} {{ $json.response.collection.description ? '(' + $json.response.collection.description + ')' : '' }}\n\n*לינק:*\n[http://192.168.](http://192.168.)x.x:3000/collections/{{ $json.response.collectionId }}",
        "options": {
          "linkPreview": true,
          "typePreview": "large"
        }
      },
      "type": "n8n-nodes-whatsapp-green-api.greenApi",
      "typeVersion": 1,
      "position": [
        1136,
        128
      ],
      "id": "f29e3a87-73fd-4fb8-b607-5028b55bdb1b",
      "name": "Send a message",
      "credentials": {
        "greenApi": {
          "id": "green_api_credential",
          "name": "Green account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start of workflow\n*Data received from Router main workflow",
        "height": 560,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -240
      ],
      "id": "821df7d8-e220-471e-affa-f71ddd560647",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const collections = $input.item.json.response || [];\nconst userUrl = $input.item.json.chatInput;\nconst pageTitle = $input.item.json.pageTitle || '';\nconst pageDescription = $input.item.json.pageDescription || '';\nconst pageContent = $input.item.json.pageContent || '';\n\n// Build context string\nconst contextString = collections.map(c => \n  `ID: ${c.id} | Name: \"${c.name}\" | Description: \"${c.description || 'N/A'}\"`\n).join('\\n');\n\nreturn {\n  categoriesContext: contextString,\n  chatInput: userUrl,\n  pageTitle: pageTitle,\n  pageDescription: pageDescription,\n  pageContent: pageContent\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -160
      ],
      "id": "25672924-dc9d-4d4d-92f1-eb1f02bfdcd1",
      "name": "Parser"
    },
    {
      "parameters": {
        "content": "## AI Agent step\n**This is to review the link and decide if to use existing or creating a new ",
        "height": 560,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -240
      ],
      "id": "b6720dde-a34c-4867-bd97-0ac05333beaa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Making a decision and post to Linkwarden\n*this step will route between new / existing collections [ categories ]",
        "height": 560,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -240
      ],
      "id": "5c171799-94a6-4c79-92cb-406323e6a927",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.item.json.output || $input.item.json.text || \"\";\n// וודא שאתה מושך את ה-URL מהמקום הנכון (Merge או Parser)\nconst originalUrl = $('Merge').first().json.chatInput ? $('Merge').first().json.chatInput.trim() : \"\"; \nconst collections = $('get collections').first().json.response;\n\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n\n// הגנה 1: אם אין JSON בכלל\nif (!jsonMatch) {\n  return { \n    action: 'use_existing',\n    collectionId: 4, \n    description: \"AI Error: No JSON returned\",\n    url: originalUrl\n  };\n}\n\nlet parsedData;\ntry {\n  parsedData = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  // הגנה 2: אם ה-JSON שבור\n  return { \n    action: 'use_existing',\n    collectionId: 4, \n    description: \"AI Error: Invalid JSON\",\n    url: originalUrl\n  };\n}\n\n// === הטיפול ב-Use Existing ===\nif (parsedData.action === 'use_existing') {\n  const requestedId = parseInt(parsedData.collectionId);\n  const exists = collections.find(c => c.id === requestedId);\n  \n  if (exists) {\n    // הכל תקין, ה-ID אמיתי\n    return {\n      action: 'use_existing',\n      collectionId: requestedId,\n      description: parsedData.description,\n      url: originalUrl\n    };\n  } else {\n    // הגנה 3: ה-AI המציא מספר (כמו 123)\n    // במקרה כזה אנחנו \"מענישים\" אותו ושולחים ל-Personal, אבל לא שוברים את האוטומציה\n    return {\n      action: 'use_existing',\n      collectionId: 4, // Safety Fallback\n      description: parsedData.description + ` (AI tried fake ID: ${requestedId})`,\n      url: originalUrl\n    };\n  }\n}\n\n// === הטיפול ב-Create New ===\nif (parsedData.action === 'create_new') {\n  return {\n    action: 'create_new',\n    newCollectionName: parsedData.newCollectionName || \"General\",\n    categoryDescription: parsedData.categoryDescription || \"New Category\",\n    linkDescription: parsedData.linkDescription || parsedData.description,\n    url: originalUrl\n  };\n}\n\n// הגנה 4: פעולה לא מוכרת\nreturn { \n  action: 'use_existing',\n  collectionId: 4, \n  description: \"AI Error: Unknown Action\",\n  url: originalUrl\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -112
      ],
      "id": "e8249543-a369-4af9-aeb4-51bb9306441b",
      "name": "parser New / Existing"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// 1. ניקוי ה-URL (הסרת לוכסן בסוף אם קיים)\nlet cleanUrl = item.url.trim();\nif (cleanUrl.endsWith('/')) {\n  cleanUrl = cleanUrl.slice(0, -1);\n}\n\n// 2. בניית ה-Payload המדויק ל-Linkwarden\n// המבנה המקונן שהתעקשת עליו\nconst payload = {\n  url: cleanUrl,\n  description: item.description,\n  collection: {\n    id: parseInt(item.collectionId) // וידוא שזה מספר ולא טקסט\n  },\n  tags: [] // אופציונלי, לפעמים מונע שגיאות\n};\n\nreturn {\n  json: payload\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        128
      ],
      "id": "399039c8-c7eb-401f-8efb-24d6ecaca736",
      "name": "Clean the url"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        160
      ],
      "id": "3381df19-cf29-4ef3-b2a9-325d7b15b07f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "openai_credential",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[http://192.168.](http://192.168.)x.x:3000/api/v1/collections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"name\": $json.newCollectionName,\n    \"description\": $json.categoryDescription || $json.description || \"קטגוריה חדשה\",\n    \"color\": \"#1473a6\",\n    \"isPublic\": false\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -112
      ],
      "id": "d4e10bf4-7817-40e0-8132-edded1468043",
      "name": "New category creation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[http://192.168.](http://192.168.)x.x:3000/api/v1/links",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1760,
        -112
      ],
      "id": "3e029893-ea67-474c-9987-bd79b24186e7",
      "name": "New URL POST1"
    },
    {
      "parameters": {
        "chatId": "number@g.us",
        "message": "=*⚡ שמרתי את הקישור ⚡*\n\n*שם:*\n{{ $json.response.name.replace(/&#8230;/g, '...').replace(/&#8211;/g, '-').replace(/&quot;/g, '\"').replace(/&#039;/g, \"'\").replace(/&amp;/g, '&') }}\n\n*תיאור:*\n{{ $json.response.description }}\n\n*קטגוריה:*\n{{ $json.response.collection.name }} {{ $json.response.collection.description ? '(' + $json.response.collection.description + ')' : '' }}\n\n*לינק:*\n[http://192.168.](http://192.168.)x.x:3000/collections/{{ $json.response.collectionId }}",
        "options": {
          "linkPreview": true,
          "typePreview": "large"
        }
      },
      "type": "n8n-nodes-whatsapp-green-api.greenApi",
      "typeVersion": 1,
      "position": [
        1968,
        -112
      ],
      "id": "c5c5f79a-6efa-43b1-9473-5bb35b02520f",
      "name": "Send a message1",
      "credentials": {
        "greenApi": {
          "id": "green_api_credential",
          "name": "Green account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        160
      ],
      "id": "7a88c6f4-6b7a-4da4-bc97-e5217c1a3129",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML - try multiple possible properties\nconst html = $input.item.json.body || \n             $input.item.json.data || \n             $input.item.json || \n             '';\n\nconst url = $input.item.json.url || '';\n\n// If still no HTML, return empty\nif (!html || html.length < 50) {\n  return {\n    url: url,\n    pageTitle: '',\n    pageDescription: '',\n    pageContent: 'Unable to fetch page content',\n    fetchError: true\n  };\n}\n\n// Extract title\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].trim().substring(0, 200) : '';\n\n// Extract meta description\nconst descMatch = html.match(/<meta\\s+name=[\"']description[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nconst description = descMatch ? descMatch[1].trim().substring(0, 300) : '';\n\n// Extract first meaningful text\nlet cleanHtml = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst pageContent = cleanHtml.substring(0, 300);\n\nreturn {\n  url: url,\n  pageTitle: title || 'Page loaded',\n  pageDescription: description || 'Cooking recipe content',\n  pageContent: pageContent\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        160
      ],
      "id": "4f318578-8f11-42c9-8969-79381f44646f",
      "name": "Extract Page Metadata"
    },
    {
      "parameters": {
        "jsCode": "\nconst newCollectionId = $input.item.json.response.id;\n\nconst originalData = $('parser New / Existing').first().json;\n\n\nlet cleanUrl = originalData.url ? originalData.url.trim() : originalData.chatInput.trim(); \nif (cleanUrl.endsWith('/')) {\n  cleanUrl = cleanUrl.slice(0, -1);\n}\n\n\nconst payload = {\n  url: cleanUrl,\n\n  description: originalData.linkDescription || originalData.description, \n  \n  collection: {\n    id: parseInt(newCollectionId)\n  },\n  tags: []\n};\n\nreturn {\n  json: payload\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -112
      ],
      "id": "aee8da2c-7420-44c0-bade-f354136aa73a",
      "name": "post parser"
    }
  ],
  "pinData": {},
  "connections": {
    "get collections": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get collections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "parser New / Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Clean the url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New category creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New URL POST": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parser New / Existing": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean the url": {
      "main": [
        [
          {
            "node": "New URL POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "New category creation": {
      "main": [
        [
          {
            "node": "post parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New URL POST1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Page Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Page Metadata": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post parser": {
      "main": [
        [
          {
            "node": "New URL POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
